 <!-- START ABOUT SECTION -->
            <div class="section about-section" id="about">
                <div class="container">
                    <div class="row">
                        <div class="title-section black-title">
                            <h1>ABO<span>U</span>T uS</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="about-content wow fadeInLeft animated" data-wow-delay="0.4s">
                                <h3> Our Company Quality</h3>
                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolorem laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis dolores eveniet. Duis lobortis massa imperdiet quam. Sed turpis. Praesent ut ligula non mi varius sagittis. Etiam sollicitudin, ipsum eu pulvinar rutrum. beatae vitae dicta sunt explicabo</p>
                                <%= link_to 'MORE ABOUT US', about_path %>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="about-skill wow fadeInRight animated" data-wow-delay="0.4s">
                                <h3>OUR SKILL</h3>
                                <div class="skill">
                                    <div class="skill-bar skill1 ">
                                        <p> WORK QUALITY</p>
                                        <span class="skill-count1">95%</span>
                                    </div>
                                </div>
                                <div class="skill">
                                    <div class="skill-bar skill2">
                                        <p> PRODUCTS QUALITY</p>
                                         <span class="skill-count2">90%</span>
                                    </div>
                                </div>
                                <div class="skill">
                                    <div class="skill-bar skill3">
                                        <p> NEW IDEAS</p>
                                        <span class="skill-count3">75%</span>
                                    </div>
                                </div>
                                <div class="skill">
                                    <div class="skill-bar skill4">
                                        <p> WORK WITH ANOTHER COMPANIES</p>
                                        <span class="skill-count4">65%</span>
                                    </div>
                                </div>
                            </div>
                        </div><!-- END OF /. COLUMN -->
                    </div><!-- END OF /. ROW -->
                </div><!-- END OF ./ CONTAINER -->
            </div><!-- END OF /. ABOUT SECTION -->