<!-- START FUN FACTS SECTION -->
            <div class="section fan-facts-section">
                <div class="container">
                    <div class="row">
                        <div class="title-section white-title">
                            <h1>SOME F<span>UN</span> FACTS</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-6 wow fadeInLeft animated" data-wow-delay="0.4s">
                            <div class="counter-area">
                                <i class="pe-7s-coffee"></i>
                                <span class="counter">211</span>
                                <h3>Ordered Coffee's</h3>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 wow fadeInLeft animated" data-wow-delay="0.2s">
                            <div class="counter-area">
                                <i class="pe-7s-display1"></i>
                                <span class="counter">176</span>
                                <h3>Completed Projects</h3>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 wow fadeInRight animated" data-wow-delay="0.2s">
                            <div class="counter-area" data-wow-delay="0.6s">
                                <i class="pe-7s-chat"></i>
                                <span class="counter">411</span>
                                <h3>Questions Answered</h3>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 wow fadeInRight animated" data-wow-delay="0.4s">
                            <div class="counter-area">
                                <i class="pe-7s-users"></i>
                                <span class="counter">1506</span>
                                <h3>Happy Clients</h3>
                            </div>
                        </div>
                    </div><!-- END OF /. ROW -->
                </div><!-- END OF /. CONTRAINER -->
            </div><!-- END OF /. FUN FACTS SECTION -->