<!-- START FOOTER SECTION -->
            <div class="footer-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <p>Copyright &copy; <script>document.write(new Date().getFullYear());</script> Designed & Develop by : <a href="https://revolthemes.net/">Revolthemes</a>. All Rights Reserved. </p>
                            <a href="#top" class="top-button"></a>
                        </div><!-- END OF /. COLUMN -->
                    </div><!-- END OF /. ROW -->
                </div><!-- END OF /. CONTAINER -->
            </div><!-- END OF/. FOOTER SECTION -->