<!-- START HEADER TOP SECTION -->
            <div class="section header-top-section" id="top">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="contact-info">
                                <p><i class="pe-7s-call"></i> COMPANY'S NUMBER</p>
                                <p><i class="pe-7s-mail"></i> COMPANY'S EMAIL</p>
                            </div>
                        </div><!-- END OF /. COL -->
                        <div class="col-sm-6">
                            <div class="social-media">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-behance"></i></a></li>
                                </ul>
                            </div>
                        </div><!-- END OF /. COL -->
                    </div><!-- END OF ROW -->
                </div><!-- END OF /. CONTAINER -->
            </div><!-- END OF /. HEADER TOP SECTION -->