<!-- START PORTFOLIO SECTION -->
            <div class="section porfolio-section" id="portfolio">
                <div class="container">
                    <div class="row">
                        <div class="title-section black-title">
                            <h1>port<span>f</span>olio</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="fillter-menu">
                            <ul class="button-group filters-list">
                                <li class="button active" data-filter="*">ALL</li>
                                <li class="button" data-filter=".design">DESIGN</li>
                                <li class="button" data-filter=".development">DEVELOPMENT</li>
                                <li class="button" data-filter=".photography">PHOTOGRAPY</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row portfolio gallery">
                        <div class="col-md-3 col-sm-6 col-xs-12 portfolio-items design">
                            <div class="portfolio-item">
                                <img src="images/portfolio/1.jpg" class="img-responsive" width="255" height="255" alt="">
                                <div class="port-hover">
                                    <div class="portfolio-content">
                                        <div class="portfolio-contents">
                                            <h3>DESIGN FOR HEADPHONES</h3>
                                            <div class="port-meta">
                                                <a href="images/portfolio/1.jpg" data-gal="prettyPhoto[gallery2]">
                                                    <i class="pe-7s-search"></i>
                                                </a>
                                                <a href="images/portfolio/1.jpg">
                                                    <i class="pe-7s-link"></i>
                                                </a>
                                            </div>
                                            <p>DESIGN</p>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- END OF /. PORTFOLIO ITEM -->
                        </div><!-- END OF /. COLUMN -->
                        <div class="col-md-3 col-sm-6 col-xs-12 portfolio-items development">
                            <div class="portfolio-item">
                                <img src="images/portfolio/2.jpg" class="img-responsive" width="255" height="255" alt="">
                                <div class="port-hover">
                                    <div class="portfolio-content">
                                        <div class="portfolio-contents">
                                            <h3>DEVELOP SOFT FOR MAGAZINE</h3>
                                            <div class="port-meta">
                                                <a href="images/portfolio/2.jpg" data-gal="prettyPhoto[gallery2]">
                                                    <i class="pe-7s-search"></i>
                                                </a>
                                                <a href="images/portfolio/2.jpg">
                                                    <i class="pe-7s-link"></i>
                                                </a>
                                            </div>
                                            <p>DEVELOPMENT</p>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- END OF /. PORTFOLIO ITEM -->
                        </div><!-- END OF /. COLUMN -->
                        <div class="col-md-3 col-sm-6 col-xs-12 portfolio-items photography">
                            <div class="portfolio-item">
                                <img src="images/portfolio/3.jpg" class="img-responsive" width="255" height="255" alt="">
                                <div class="port-hover">
                                    <div class="portfolio-content">
                                        <div class="portfolio-contents">
                                            <h3>PHOTOSETS FOR SHOP</h3>
                                            <div class="port-meta">
                                                <a href="images/portfolio/3.jpg" data-gal="prettyPhoto[gallery2]">
                                                    <i class="pe-7s-search"></i>
                                                </a>
                                                <a href="images/portfolio/3.jpg">
                                                    <i class="pe-7s-link"></i>
                                                </a>
                                            </div>
                                            <p>PHOTOGRAPHY</p>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- END OF /. PORTFOLIO ITEM -->
                        </div><!-- END OF /. COLUMN -->
                        <div class="col-md-3 col-sm-6 col-xs-12 portfolio-items design">
                            <div class="portfolio-item">
                                <img src="images/portfolio/4.jpg" class="img-responsive" width="255" height="255" alt="">
                                <div class="port-hover">
                                    <div class="portfolio-content">
                                        <div class="portfolio-contents">
                                            <h3>DESIGN A CALENDAR</h3>
                                            <div class="port-meta">
                                                <a href="images/portfolio/4.jpg" data-gal="prettyPhoto[gallery2]">
                                                    <i class="pe-7s-search"></i>
                                                </a>
                                                <a href="images/portfolio/4.jpg">
                                                    <i class="pe-7s-link"></i>
                                                </a>
                                            </div>
                                            <p>DESIGN</p>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- END OF /. PORTFOLIO ITEM -->
                        </div><!-- END OF /. COLUMN -->
                        <div class="col-md-3 col-sm-6 col-xs-12 portfolio-items development">
                            <div class="portfolio-item">
                                <img src="images/portfolio/5.jpg" class="img-responsive" width="255" height="255" alt="">
                                <div class="port-hover">
                                    <div class="portfolio-content">
                                        <div class="portfolio-contents">
                                            <h3>DEVELOP A WORK SYSTEM</h3>
                                            <div class="port-meta">
                                                <a href="images/portfolio/5.jpg" data-gal="prettyPhoto[gallery2]">
                                                    <i class="pe-7s-search"></i>
                                                </a>
                                                <a href="images/portfolio/5.jpg">
                                                    <i class="pe-7s-link"></i>
                                                </a>
                                            </div>
                                            <p>DEVELOPMENT</p>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- END OF /. PORTFOLIO ITEM -->
                        </div><!-- END OF /. COLUMN -->
                        <div class="col-md-3 col-sm-6 col-xs-12 portfolio-items photography">
                            <div class="portfolio-item">
                                <img src="images/portfolio/6.jpg" class="img-responsive" width="255" height="255" alt="">
                                <div class="port-hover">
                                    <div class="portfolio-content">
                                        <div class="portfolio-contents">
                                            <h3>TAKE PHOTOS FOR BARBER'S SHOP</h3>
                                            <div class="port-meta">
                                                <a href="images/portfolio/6.jpg" data-gal="prettyPhoto[gallery2]">
                                                    <i class="pe-7s-search"></i>
                                                </a>
                                                <a href="images/portfolio/6.jpg">
                                                    <i class="pe-7s-link"></i>
                                                </a>
                                            </div>
                                            <p>PHOTOGRAPHY</p>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- END OF /. PORTFOLIO ITEM -->
                        </div><!-- END OF /. COLUMN -->
                        <div class="col-md-3 col-sm-6 col-xs-12 portfolio-items design">
                            <div class="portfolio-item">
                                <img src="images/portfolio/7.jpg" class="img-responsive" width="255" height="255" alt="">
                                <div class="port-hover">
                                    <div class="portfolio-content">
                                        <div class="portfolio-contents">
                                            <h3>DESIGN FOR MAGIC STICK</h3>
                                            <div class="port-meta">
                                                <a href="images/portfolio/7.jpg" data-gal="prettyPhoto[gallery2]">
                                                    <i class="pe-7s-search"></i>
                                                </a>
                                                <a href="images/portfolio/7.jpg">
                                                    <i class="pe-7s-link"></i>
                                                </a>
                                            </div>
                                            <p>DESIGN</p>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- END OF /. PORTFOLIO ITEM -->
                        </div><!-- END OF /. COLUMN -->
                        <div class="col-md-3 col-sm-6 col-xs-12 portfolio-items development">
                            <div class="portfolio-item">
                                <img src="images/portfolio/8.jpg" class="img-responsive" width="255" height="255" alt="">
                                <div class="port-hover">
                                    <div class="portfolio-content">
                                        <div class="portfolio-contents">
                                            <h3>DEVELOP A PRODUCT SYSTEM</h3>
                                            <div class="port-meta">
                                                <a href="images/portfolio/8.jpg" data-gal="prettyPhoto[gallery2]">
                                                    <i class="pe-7s-search"></i>
                                                </a>
                                                <a href="images/portfolio/8.jpg">
                                                    <i class="pe-7s-link"></i>
                                                </a>
                                            </div>
                                            <p>DEVELOPING</p>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- END OF /. PORTFOLIO ITEM -->
                        </div><!-- END OF /. COLUMN -->
                    </div><!-- END OF /. ROW -->
                </div><!-- END OF /. CONTAINER -->
            </div><!-- END OF /. PORTFOLIO SECTION -->