<!-- START PRICE TABLE SECTION -->
            <div class="section table-title-section" id="pricing">
                <div class="container">
                    <div class="row">
                        <div class="title-section black-title">
                            <h1>PRICIN<span>G T</span>ABLES</h1>
                            <p>We listed below some pricing details of pori services</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- START PRICE SECTION -->
            <div class="section table-section">
                <div class="container">
                    <div class="row">
                         <div class="col-sm-4">
                            <div class="table-item wow fadeInLeft animated" data-wow-delay="0.4s">
                                <div class="table-header">
                                    <h2>BASIC</h2>
                                    <span>$05/MON</span>
                                </div>
                                <ul>
                                    <li>1GB Storage</li>
                                    <li>1GB Bandwidth</li>
                                    <li>1 Addon Domains</li>
                                    <li>1 Sub Domain</li>
                                    <li>10 Email </li>
                                    <li>1 Database</li>
                                    <li>1 Domain</li>
                                    <li>No support</li>
                                </ul>
                                <div class="table-footer">
                                    <a href="#" class="pori-btn">Select Plan</a>
                                </div>
                            </div>
                        </div><!-- END OF /. COL -->
                        <div class="col-sm-4">
                            <div class="table-item wow fadeInLeft animated" data-wow-delay="0.2s">
                                <div class="table-header">
                                    <h2>PERSONAL</h2>
                                    <span>$10/MON</span>
                                </div>
                                <ul>
                                    <li>5GB Storage</li>
                                    <li>5GB Bandwidth</li>
                                    <li>5 Addon Domains</li>
                                    <li>50 Sub Domain</li>
                                    <li>50 Email </li>
                                    <li>50 Database</li>
                                    <li>2 Domain</li>
                                    <li>Support</li>
                                </ul>
                                <div class="table-footer">
                                    <a href="#" class="pori-btn">Select Plan</a>
                                </div>
                            </div>
                        </div><!-- END OF /. COL -->
                        <div class="col-sm-4">
                            <div class="table-item wow fadeInRight animated" data-wow-delay="0.2s">
                                <div class="table-header">
                                    <h2>PROFESSIONAL</h2>
                                    <span>$15/MON</span>
                                </div>
                                <ul>
                                    <li>10GB Storage</li>
                                    <li>10GB Bandwidth</li>
                                    <li>10 Addon Domains</li>
                                    <li>100 Sub Domain</li>
                                    <li>100 Email </li>
                                    <li>100 Database</li>
                                    <li>5 Domain</li>
                                    <li>Support</li>
                                </ul>
                                <div class="table-footer">
                                    <a href="#" class="pori-btn">Select Plan</a>
                                </div>
                            </div>
                        </div><!-- END OF /. COL -->
                    </div><!-- END OF /. ROW -->
                </div><!-- END OF /. CONTAINER -->
            </div><!-- END OF /. TABLE SECTION -->