<!-- START PRICE TABLE SECTION -->
            <div id="pricing">
                <div class="container">
                    <div class="row">
                        <div class="title-section black-title">
                            <h1>EVENT<span>S T</span>ABLE</h1>
                            <p>We listed below some pricing details of pori services</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- START PRICE SECTION -->
            
            <%= month_calendar partial: 'simple_calendar/month_calendar', events: @few_days_meetings do |date,meetings| %>
<%= date %>
<% meetings.each do |meeting| %>
    <div>

      <%= link_to "#{meeting.name}", meeting %>
    </div>
  <% end %>
<% end %>


            <center><div class="table-footer">
               <%= link_to "MORE INFORMATION", events_path , class: "pori-btn" %>
            </div></center>