<!-- START TEAM SECTION -->
            <div class="section team-section" id="team">
                <div class="container">
                    <div class="row">
                        <div class="title-section black-title">
                            <h1>OUR <span>T</span>EAM</h1>
                          
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="team-item wow fadeInLeft animated" data-wow-delay="0.4s">
                                <div class="social-media">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="#"><i class="fa fa-github"></i></a></li>
                                        <li><a href="#"><i class="fa fa-codepen"></i></a></li>
                                    </ul>
                                </div><!-- END OF /. SOCIAL MEDIA -->
                                <a href="#">
                                    <img src="images/team/1.jpg" class="img-responsive" width="255" height="396" alt="">
                                </a>
                                <div class="caption">
                                    <h2>FISTS GUY</h2>
                                    <h3>CHIEF</h3>
                                </div>
                            </div><!-- END OF /. TEAM ITEM -->
                        </div><!-- END OF /. CLOUMN -->
                        <div class="col-md-3 col-sm-6">
                            <div class="team-item wow fadeInLeft animated" data-wow-delay="0.2s">
                                <div class="social-media">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="#"><i class="fa fa-github"></i></a></li>
                                        <li><a href="#"><i class="fa fa-codepen"></i></a></li>
                                    </ul>
                                </div><!-- END OF /. SOCIAL MEDIA -->
                                <a href="#">
                                    <img src="images/team/2.jpg" class="img-responsive" width="255" height="396" alt="">
                                </a>
                                <div class="caption">
                                    <h2>SECOND GUY</h2>
                                    <h3>ASISTANT OF CHIEF</h3>
                                </div>
                            </div><!-- END OF /. TEAM ITEM -->
                        </div><!-- END OF /. CLOUMN -->
                        <div class="col-md-3 col-sm-6">
                            <div class="team-item wow fadeInRight animated" data-wow-delay="0.2s">
                                <div class="social-media">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="#"><i class="fa fa-github"></i></a></li>
                                        <li><a href="#"><i class="fa fa-codepen"></i></a></li>
                                    </ul>
                                </div><!-- END OF /. SOCIAL MEDIA -->
                                <a href="#">
                                    <img src="images/team/3.jpg" class="img-responsive" width="255" height="396" alt="">
                                </a>
                                <div class="caption">
                                    <h2>THIRD GIRL</h2>
                                    <h3>TOP DESIGNER</h3>
                                </div>
                            </div><!-- END OF /. TEAM ITEM -->
                        </div><!-- END OF /. CLOUMN -->
                        <div class="col-md-3 col-sm-6">
                            <div class="team-item wow fadeInRight animated" data-wow-delay="0.4s">
                                <div class="social-media">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="#"><i class="fa fa-github"></i></a></li>
                                        <li><a href="#"><i class="fa fa-codepen"></i></a></li>
                                    </ul>
                                </div><!-- END OF /. SOCIAL MEDIA -->
                                <a href="#">
                                    <img src="images/team/4.jpg" class="img-responsive" width="255" height="396" alt="">
                                </a>
                                <div class="caption">
                                    <h2>FOURTH GUY</h2>
                                    <h3>TOP PROGRAMMER</h3>
                                </div>
                            </div><!-- END OF /. TEAM ITEM -->
                        </div><!-- END OF /. CLOUMN -->
                    </div><!-- END OF /. ROW -->
                </div><!-- ENDD OF /. CONTAINER -->
            </div><!-- END OF /. TEAM SECTION -->