<!-- START WHY SECTION -->
            <div class="section why-section">
                <div class="container">
                    <div class="row">
                        <div class="title-section white-title">
                            <h1>WHY C<span>HO</span>OSE US</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="why-thumb wow fadeInLeft animated" data-wow-delay="0.4s">
                                <a href="#">
                                    <img src="images/about.jpg" class="img-responsive" width="540" height="390" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="why-content wow fadeInRight animated" data-wow-delay="0.4s">
                                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingOne">
                                            <h4 class="panel-title">
                                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">UNIQUE DESIGN</a>
                                            </h4>
                                        </div>
                                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                            <div class="panel-body">
                                                <p>Vivamus quis mi. Morbi ac felis. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc, quis gravida magna mi a libero. Cras non dolor. Fusce pharetra convallis urna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc. ras non dolor.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingTwo">
                                            <h4 class="panel-title">
                                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">GREAT SERVICE</a>
                                            </h4>
                                        </div>
                                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                            <div class="panel-body">
                                                <p>Vivamus quis mi. Morbi ac felis. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc, quis gravida magna mi a libero. Cras non dolor. Fusce pharetra convallis urna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc. ras non dolor.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingThree">
                                            <h4 class="panel-title">
                                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">EXPERIENCE TEAM</a>
                                            </h4>
                                        </div>
                                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                            <div class="panel-body">
                                                <p>Vivamus quis mi. Morbi ac felis. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc, quis gravida magna mi a libero. Cras non dolor. Fusce pharetra convallis urna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc. ras non dolor.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- END OF /. ACCORDION -->
                        </div><!-- END OF /. COLUMN  -->
                    </div><!-- END OF /. ROW -->
                </div><!-- END OF /. CONTAINER -->
            </div><!-- END OF /. WHY SECTION -->