<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    
    <h1>Someone write in REQUEST CALL FORM</h1>
    <p>Someone with name - <%= @call.full_name %></p><BR>
    <p>And leave this phone - <%= @call.phone_number %></p><BR>
    <p>Text of message - <%= @call.body %></p><br>
    
    <p>Thanks for joining and have a great day!</p>
  </body>

</html>