<!-- START CONTACT BTN SECTION -->
            <div class="contact-btn-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="headline-title">
                                <h1>DID YOU ENJOYED? GET A CALL TODAY</h1>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="contact-btn">

                                <%= link_to "REQUEST CALL", new_call_path, id: "new_link", remote: true, "data-toggle" => "modal", 'data-target' => '#blog-w3ls3' %>
                            
                            </div>
                        </div>
                    </div><!-- END OF /. ROW -->
                </div><!-- END OF /. CONTAINER -->
            </div><!-- END OF /. CONTACT BUTTON SECTION -->

 <div class="modal fade" id="blog-w3ls3" tabindex="-1" role="dialog" aria-labelledby="largeModal" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <center><h2><strong>REQUEST CALL</strong></h2></center>
                </div>
                <div class="modal-body">
                    
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        

                        
                        <% if user_signed_in? %>
                                   <p>
                                     <%= render 'calls/form' %>
                                   </p>
                                <% else %>
                                <center>
                                  <p>
                                    <%= link_to 'Login', new_user_session_path, class: "btn btn-info" %>
                                  </p> 
                                   <p>OR</p>
                                  <p> 
                                   <%= link_to 'Register', new_user_registration_path, class: "btn btn-info" %>
                                  </p>
                                </center>
                                <% end %>
                        
                    </div>
                    
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <h3>WRITE HERE YOUR NAME AND PHONE.</h3> 
                        <hr><h3>OUR PERSONAL WILL CALL YOU</h3>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">CLOSE</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
<div id="overlay"></div>

 <div class="modal fade" id="call-ok" tabindex="-1" role="dialog" aria-labelledby="largeModal" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <center><h2><strong>REQUEST CALL</strong></h2></center>
                </div>
                <div class="modal-body">
                    
                        <h3>REQUEST CALL SUCCSESFULLY ADDED. WE CALL SOON</h3> 
                        
                    
                    <div class="clearfix"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">CLOSE</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

