
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Start time</th>
      <th>End time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @few_days_meetings.each do |few_days_meeting| %>
      <tr>
        <td><%= few_days_meeting.name %></td>
        <td><%= few_days_meeting.start_time.strftime("%A, %d %B %Y at %H:%M") %></td>
        <td><%= few_days_meeting.end_time.strftime("%A, %d %B %Y at %H:%M") %></td>
        <td><%= link_to 'Details of event', few_days_meeting %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
