<!doctype html>
<html lang="en">
    <head>
        <!-- META -->
        <meta charset="UTF-8">
        <meta name="author" content="author name" />
        <meta name="description" content="Here goes description">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

        <!-- SITE TITLE -->
        <title>Klasik - HTML5 Responsive corporate template</title>

        <!-- FAVICON -->
        <link rel="icon" href="images/favicon/favicon.png">
		<link rel="icon" href="images/favicon/favicon.png" sizes="57x57">
		<link rel="icon" href="images/favicon/favicon.png" sizes="72x72">
		<link rel="icon" href="images/favicon/favicon.png" sizes="114x114">
		<link rel="icon" href="images/favicon/favicon.png" sizes="144x144">

        <!-- STYLE -->
        <link rel="stylesheet" href="css/style.css">

        <!--[if lt IE 9]>
            <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
            <script>window.html5 || document.write('<script src="js/vendor/html5shiv.js"><\/script>')</script>
        <![endif]-->
    </head>
    <body>
        <!-- START PRELOADER -->
        <!-- END OF PRELOADER -->
        <div class="wrapper">
        
            <!-- START HEADER TOP SECTION -->
            <!-- END OF /. HEADER TOP SECTION -->

            <!-- START HEADER SECTION -->
            <!-- END OF /. HEADER TOP SECTION -->

            <!-- START SLIDER SECTION -->
            <!-- END OF /. SELIDER SECTION -->

            <!-- START ABOUT SECTION -->
            <!-- END OF /. ABOUT SECTION -->

            <!-- START WHY SECTION -->
            <!-- END OF /. WHY SECTION -->

            <!-- START SERVICE SECTION  -->
            <!-- END OF /. SECRVICE SECTION -->

            <!-- START PORTFOLIO SECTION -->
            <!-- END OF /. PORTFOLIO SECTION -->

            <!-- START TESTIMONIAL SECTION -->
            <!-- END OF /. TESTIMONIAL SECTION -->

            <!-- START WE WORK SECTION -->
            <!-- END OF /. WE WORK SECTION -->

            <!-- START RECENT WORK SECTION -->
            <!-- END OF /.RECENT WORK SECTION -->

            <!-- START PRICE TABLE SECTION -->
            <!-- END OF /. TABLE SECTION -->

            <!-- START CONTACT BTN SECTION -->
            <!-- END OF /. CONTACT BUTTON SECTION -->

            <!-- START TEAM SECTION -->
            <!-- END OF /. TEAM SECTION -->

            <!-- START FUN FACTS SECTION -->
            <!-- END OF /. FUN FACTS SECTION -->

            <!-- START CLIENT SECTION -->
            <!-- END OF /. CLIENT SECTION -->

            <!-- START BLOG SECTION -->
            <!-- END OF /. BLOG SECTION -->

            <!-- START CONTACT SECTION -->
			<!-- END OF /. CONTACT SECTION -->

            <!-- START FOOTER TOP SECTION -->
            <!-- END OF /. FOOTER TOP -->

            <!-- START FOOTER SECTION -->
            <!-- END OF/. FOOTER SECTION -->

        </div><!-- END OF /. WRAPPER -->

        <!-- JQUERY LIBERY -->
        <script src="js/vendor/jquery-1.11.2.min.js"></script>
        <!-- BOOTSTRAP -->
        <script src="js/vendor/bootstrap.min.js"></script>
        <!-- APPEAR JS  -->
        <script src="js/jquery.appear.js"></script>
        <!-- WAYPOINTS -->
        <script src="js/waypoints.min.js"></script>
        <!-- CUSTOM JS -->
        <script src="js/jquery.counterup.min.js"></script>
        <!-- ISOTOPE -->
        <script src="js/isotope.pkgd.min.js"></script>
        <!-- PRETTY PHOTO -->
        <script src="js/jquery.prettyPhoto.js"></script>
        <!-- OWL CAROSEL -->
        <script src="js/owl.carousel.min.js"></script>
        <!-- WOW JS -->
        <script src="js/wow.min.js"></script>
        <!-- CUSTOM JS -->
        <script src="js/custom.js"></script>

    </body>
</html>
